*.pyc

iottly_device_images/raspberrypi/original-images/**/*.zip
iottly_device_images/raspberrypi/original-images/**/*.img

iottly_device_images/raspberrypi/iottly-customized-images/**/*.zip
iottly_device_images/raspberrypi/iottly-customized-images/**/*.img

iottly_device_images/raspberrypi/project-customized-images/**/*.zip
iottly_device_images/raspberrypi/project-customized-images/**/*.img


